name: release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn clean install

      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.version.outputs.version }}
          tag_name: ${{ github.ref }}
          body: https://github.com/5-stones/keycloak-email-otp/blob/main/CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Get the tag name
        run: echo "TAG=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./target/com.weare5stones.keycloak.authenticators-emailtotp-${{ env.TAG }}.jar
          asset_name: com.weare5stones.keycloak.authenticators-emailtotp-${{ env.TAG }}.jar
          asset_content_type: application/java-archive
